@import "src/styles/variables";
@import "src/styles/mixins";

table {
    width: 100%;
    text-align: left;
    position: relative;

    thead {
        font-size: 1.25rem;
        background-color: $blue;
        color: $white;
        position: sticky;
        top: 0;
        z-index: 2;
    }

}

@media (max-width: 673px) {
    table {
        width: 100vw;
        text-align: left;

        thead {
            font-size: 1.25rem;
            background-color: $blue;
            color: $white;
            position: sticky;
            top: -1rem;
            z-index: 2;

        }
    }

}